.button {
  background-color: transparent;
  color: rgb(240 248 255);
  border: 1px solid rgb(240 248 255);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 3px;
  cursor: pointer;
  transition: translate 0.3s, box-shadow 0.3s;
}

@media (hover: hover) {
  .button:hover {
    translate: 0 3px;
    box-shadow: 0 0;
  }
}
